@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root{
    --white:#ffffff;
    --black:#000000;

    --cor1:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android',cursive;
}
*{
    margin: 0px;
    padding: 0px;   
}
body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}
a.externa::after{
    content: '\1F517';
}
main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    line-height: 1.4em;
}
header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    min-height:150px;
    text-align: center;
    padding-top: 21px;
}
header > h1{
    font-weight: normal;
    text-shadow: -6px 3px 6px #00000069;
    color: var(--white);
    font-family: var(--font-destaque);
    margin-bottom: 15px;
    font-size: 3em;
}
header > p{
    text-shadow: -6px 3px 6px #00000069;;
    color: var(--white);
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding: 0px 10px;
    line-height: 1em;
    margin:auto;
}
nav{
    background-color: var(--cor5);
    box-shadow:-1px 6px 5px 0px #00000042;
    padding: 10px;
}
nav > a{
    padding: 11px;
    color: var(--cor2);
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav >a:hover{
    color: rgb(189, 189, 189);
    background-color: var(--cor4);
    border-radius: 5px;
}
main{
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
    min-width: 200px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--white);
}
main img {
    width: 100%;
}
main img.pequena{
    max-width:350px;
    display: block;
    margin: auto;
}
main h1{
    font-weight: normal;
    color:var(--cor6);
    font-family: var(--font-android);
    font-size: 2em;
}
main h2{
    font-weight: normal;
    padding-top: 4px;
    text-indent: 9px;
    border-bottom-left-radius: 8px;
    font-family: var(--font-android);
    color: var(--cor6);
    background-image: linear-gradient(to right, var(--cor4), transparent);
}
main strong{
    font-style: italic;
    color: var(--cor5);
    padding: 2px 2px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 2px 4px;
    transition-duration: 0.6s;
}
main a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
    color: var(--cor6);
    padding: 3px 5px;

}
div.video{
    background-color: var(--cor4);
    margin: 0px -20px 23px -20px;
    position:relative;

    padding-bottom: 58.9%;
}
div.video > iframe{
    position: absolute;
    top: 0%;
    left: 0%;  
    width: 100%;
    height: 100%;
}
aside{
    background-color: var(--cor2);
    border-radius: 10px;
    padding: 5px 15px 3px 8px;
    outline: 2px var(--cor5) solid;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00a0';
}
aside > h3{
    background-color: var(--cor4);
    padding:9px 0px 6px 16px;
    margin: -6px -16px -4px -9px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 3px 2px 0px rgb(0 0 0 / 17%);
    color: white;
    text-shadow: -1px 3px 4px #0000008a;
}
footer{
    text-align: center;
    background-color: var(--cor6);
    color: var(--white);
}
footer a{
    text-decoration: none;
    color: var(--cor1);
    background-color: var(--cor4);
    transition-duration: 0.4;
}
footer a:hover{
    color: var(--cor2);
    text-decoration: underline;
    background-color: transparent;
}